.profile {
  width: 730px;
  height: 419px;
  border-radius: 15px;
  background-color: #fefefe;
  margin-top: 24px;
  padding: 48px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}
.profile img {
  width: 117px;
  height: 117px;
  border-radius: 50%;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 75%;
  flex-wrap: wrap;
}
.head p {
  font-size: 15px;
  color: #697c9a;
}
.left h1 {
  font-size: 26px;
}
.left p {
  font-size: 16px;
  margin-top: 2px;
  color: black;
}
.left span {
  font-size: 15px;
  margin-top: 20px;
  display: block;
  color: #4b6a9b;
}
.follower {
  width: 100%;
  height: 85px;
  background-color: #f6f8ff;
  margin-top: 32px;
  border-radius: 10px;
  display: flex;
  gap: 80px;
  padding: 15px 83px 17px 32px;
}
.follower h1 {
  color: #4b6a9b;
  font-size: 13px;
}
.follower p {
  color: #2b3442;
  margin-top: 5px;
  font-size: 22px;
}

.first {
  display: flex;
  gap: 20px;
}
.first img {
  width: 13.75px;
  height: 20px;
}
.first p {
  color: #4b6a9b;
  font-size: 15px;
}

.footer {
  margin-top: 39px;
  display: flex;
  gap: 62px;
}

.second {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.second img {
  width: 19.99px;
  height: 19.94px;
}
.second p {
  color: #4b6a9b;
  font-size: 15px;
  max-width: 200px;
  overflow: hidden;
}
.third img {
  width: 20px;
  height: 16.25px;
}
.third p {
  color: #4b6a9b;
  font-size: 15px;
}
.third {
  display: flex;
  gap: 16px;
}
.fourth {
  display: flex;
  margin-top: 20px;
  gap: 16px;
}
.fourth img {
  width: 20px;
  height: 19.85px;
}
.fourth p {
  color: #4b6a9b;
  font-size: 15px;
}
.footer.light svg path{
fill: #4B6A9B;
}
.footer.dark svg path{
fill: #FFFFFF;
}